<!DOCTYPE html>
<html>

<head>
  <title>Add New Details</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.7.2/dist/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <style>
    label {
      font-size: 20px;
    }

    input,
    select {
      height: 40px;
      font-size: 18px;
      padding-left: 10px;

    }

    input[type="submit"] {
      font-size: 18px;

    }

    table th {
      font-weight: bold;
      background-color: #f9f9f9;
    }


    h1 {
      font-size: 25px;
    }

    .dark-input-bg {
      /* background-color: #333; */
      border-color: #222;
      /* color: #fff;  */
    }

    .col-1 {
      font-size: 20px;
    }
    .aa
    {
      font-size: 10px;
    }
  </style>
</head>

<body>
  <h1 style="margin-left: 5%;">New Clients</h1>
  <form style="margin: 5%;"="addform" method="POST" action="{% url 'Accounts:addnew' %}">
    {% csrf_token %}

    <div class="container-fluid m-3">

      <div class="container-fluid">

        <div class="row">
          <div class="col-3 p-3 ml-2"><label for="id">ID</label></div>
          <div class="col-1   p-3">:</div>
          <div class="col-5   p-3">
            <input class="input-field  form-control dark-input-bg" type="text" id="id" name="id" value="{{ last_id }}" readonly>
          </div>
        </div>


        <div class="row">
          <div class="col-3 p-3 ml-2">
            <label for="Branch">Branch</label>
          </div>
          <div class="col-1   p-3">:</div>
          <div class="col-5   p-3">
            <input class="input-field  form-control dark-input-bg" type="text" id="Branch" value="{{ form.Branch.value|default:''}}"
                name="PONo" title="enter valid input" required>
          </div>

          <div class="row">
            <div class="col-3 p-3 ml-2">
              <label for="WES_REF_NO">WES REF NO</label>
            </div>
            <div class="col-1   p-3">
              :
            </div>
            <div class="col-5   p-3">
              <input class="input-field  form-control dark-input-bg" type="text" id="WES_REF_NO" value="{{ form.WES_REF_NO.value|default:''}}" name="WES_REF_NO" title="enter valid input" required>
            </div>
          </div>

          <div class="row">
            <div class="col-3 p-3 ml-2">
              <label for="PONo">PONo:</label>
            </div>
            <div class="col-1   p-3">
              :
            </div>
            <div class="col-5   p-3">
            <input class="input-field  form-control dark-input-bg" type="text" id="PONo" value="{{ form.PONo.value|default:''}}"
                name="PONo" title="enter valid input" required>
          </div>
          </div>





          <div class="row">
            <div class="col-3 p-3 ml-2">
              <label for="POIssuedby">POIssuedby</label>
            </div>
            <div class="col-1   p-3">
              :
            </div>
            <div class="col-5   p-3">
                <input class="input-field  form-control dark-input-bg" type="text" id="POIssuedby" value="{{ form.POIssuedby.value|default:''}}"
                name="POIssuedby" title="enter valid input" required>
            </div>
          </div>

          


          <div class="row">
            <div class="col-3 p-3 ml-2">
              <label for="ClientName">ClientName</label>
            </div>
            <div class="col-1   p-3">
              :
            </div>
            <div class="col-5   p-3">
                <input class="input-field  form-control dark-input-bg" type="text" id="ClientName" value="{{ form.ClientName.value|default:''}}"
                name="ClientName" title="enter valid input" required>
            </div>
          </div>


          <div class="row">
            <div class="col-3 p-3 ml-2">
              <label for="ClientGroup">ClientGroup</label>
            </div>
            <div class="col-1   p-3">
              :
            </div>
            <div class="col-5   p-3">
                <input class="input-field  form-control dark-input-bg" type="text" id="ClientGroup" value="{{ form.ClientGroup.value|default:''}}"
                name="ClientGroup" title="enter valid input" required>
            </div>
          </div>

          <div class="row">
            <div class="col-3 p-3 ml-2">
              <label for="Shipname">Shipname</label>
            </div>
            <div class="col-1   p-3">
              :
            </div>
            <div class="col-5   p-3">
              <input class="input-field  form-control dark-input-bg" type="text" id="Shipname" value="{{ form.Shipname.value|default:''}}"
                name="Shipname" title="enter valid input" required>
            </div>
          </div>

          <div class="row">
            <div class="col-3 p-3 ml-2">
              <label for="POAmount">POAmount</label>
            </div>
            <div class="col-1   p-3">
              :
            </div>
            <div class="col-5   p-3">
              <input class="input-field  form-control dark-input-bg" required type="text" id="POAmount"
                value="{{ form.POAmount.value|default:''}}" name="POAmount" pattern="^-?(?:\d+(?:\.\d*)?|\.\d+)?$|^$"
                title="enter valid input" oninput="validateInput(this)">
            </div>
          </div>

          <div class="row">
            <div class="col-3 p-3 ml-2">
              <label for="InvoiceNo">InvoiceNo</label>
            </div>
            <div class="col-1   p-3">
              :
            </div>
            <div class="col-5   p-3">
              <input class="input-field  form-control dark-input-bg" required type="text" id="InvoiceNo"
                value="{{ form.InvoiceNo.value|default:''}}" name="InvoiceNo" pattern="^[a-zA-Z\d@#$%^&+=- ]*$"
                title="enter valid input" oninput="validateInput(this)">
            </div>
          </div>


          <div class="row">
            <div class="col-3 p-3 ml-2">
              <label for="date">InvoiceDate</label>
            </div>
            <div class="col-1   p-3">
              :
            </div>
            <div class="col-5   p-3">
              <input class="input-field  form-control dateclass dark-input-bg" type="text" id="date"
                value="{{ form.InvoiceDate.value|default:''}}" name="InvoiceDate" readonly>
            </div>
          </div>


          <div class="row">
            <div class="col-3 p-3 ml-2">
              <label for="date" class="col-1 col-form-label">Duedate</label>
            </div>
            <div class="col-1   p-3">
              :
            </div>
            <div class="col-5   p-3">
              <input class="input-field  form-control dateclass dark-input-bg" type="text" id="date"
                value="{{ form.Duedate.value|default:''}}" name="Duedate" readonly>
            </div>
          </div>


          <div class="row">
            <div class="col-3 p-3 ml-2">
              <label for="Freight">Freight</label>
            </div>
            <div class="col-1   p-3">
              :
            </div>
            <div class="col-5   p-3">
              <input class="input-field  form-control dark-input-bg" type="text" id="Freight"
                value="{{ form.Freight.value|default:''}}" name="Freight" pattern="^-?(?:\d+(?:\.\d*)?|\.\d+)?$|^$"
                title="enter valid input" oninput="validateInput(this)">
            </div>
          </div>


          <div class="row">
            <div class="col-3 p-3 ml-2">
              <label for="Invoiceamount">Invoiceamount</label>
            </div>
            <div class="col-1   p-3">
              :
            </div>
            <div class="col-5   p-3">
              <input class="input-field  form-control dark-input-bg" required type="number" id="Invoiceamount"
                value="{{ form.Invoiceamount.value|default:''}}" name="Invoiceamount"
                pattern="^-?\d+(\.\d{1,4})?$" title="enter valid input" oninput="validateInput(this)">
            </div>
          </div>

          <div class="row">
            <div class="col-3 p-3 ml-2">
              <label for="SgdValue">SgdValue</label>
            </div>
            <div class="col-1   p-3">
              :
            </div>
            <div class="col-5   p-3">

              <input class="input-field  form-control dark-input-bg" type="text" id="SgdValue"
                value="{{ form.SgdValue.value|default:''}}" name="SgdValue" pattern="^-?(?:\d+(?:\.\d*)?|\.\d+)?$|^$"
                title="enter valid input" oninput="validateInput(this)">
            </div>
          </div>


          <div class="row">
            <div class="col-3 p-3 ml-2">
              <label for="GstScope">GstScope</label>
            </div>
            <div class="col-1   p-3">
              :
            </div>
            <div class="col-5   p-3">
              <select class="input-field  form-select dark-input-bg" id="GstScope" name="GstScope">
                <option value="" disabled selected>Select GstScope</option>
                {% for option in GstScope_options %}
                <option value="{{ option }}" {% if option == form.instance.GstScope %} selected {% endif %}>{{ option }}
                </option>
                {% endfor %}
              </select>
            </div>
          </div>






          <div class="row">
            <div class="col-3 p-3 ml-2">
              <label for="currency1">Currency1</label>
            </div>
            <div class="col-1   p-3">
              :
            </div>
            <div class="col-5   p-3">
              <select class="input-field  form-select dark-input-bg" id="currency1" name="currency1" required>
                <option value="" disabled selected>Select Currency1</option>
                {% for option in currency1_options %}
                <option value="{{ option }}" {% if option == form.instance.currency1 %} selected {% endif %}>{{ option }}
                </option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-3 p-3 ml-2">
              <label for="Invamtcreditnote">Invamtcreditnote</label>
            </div>
            <div class="col-1   p-3">
              :
            </div>
            <div class="col-5   p-3">
              <input class="input-field  form-control dark-input-bg" type="text" id="Invamtcreditnote"
                value="{{ form.Invamtcreditnote.value|default:''}}" name="Invamtcreditnote"
                pattern="^-?\d+(\.\d{1,4})?$" title="enter valid input" oninput="validateInput(this)">
            </div>
          </div>

          <div class="row">
            <div class="col-3 p-3 ml-2">
              <label for="standardrated">Standard Rated</label>
            </div>
            <div class="col-1   p-3">
              :
            </div>
            <div class="col-5   p-3">
              <input class="input-field  form-control dark-input-bg" type="text" id="standardrated"
                value="{{ form.standardrated.value|default:''}}" name="standardrated"
                pattern="^-?\d+(\.\d{1,4})?$" title="enter valid input" oninput="validateInput(this)">
            </div>
          </div>


          <div class="row">
            <div class="col-3 p-3 ml-2">
              <label for="GstPaid">GstPaid</label>
            </div>
            <div class="col-1   p-3">
              :
            </div>
            <div class="col-5   p-3">

              <input class="input-field  form-control dark-input-bg" type="text" id="GstPaid"
                value="{{ form.GstPaid.value|default:''}}" name="GstPaid" pattern="^-?(?:\d+(?:\.\d*)?|\.\d+)?$|^$"
                title="enter valid input" oninput="validateInput(this)">
            </div>
          </div>


          <div class="row">
            <div class="col-3 p-3 ml-2">
              <label for="paymentstatus">Paymentstatus</label>
            </div>
            <div class="col-1   p-3">
              :
            </div>
            <div class="col-5   p-3">
              <select class="input-field  form-select dark-input-bg" id="paymentstatus" name="paymentstatus" required>
                <option value="" disabled selected>Select Paymentstatus</option>
                {% for option in paymentstatus_options %}
                <option value="{{ option }}" {% if option == form.instance.paymentstatus %} {% endif %}>{{ option }}
                </option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-3 p-3 ml-2">
              <label for="newstatus">Newstatus</label>
            </div>
            <div class="col-1   p-3">
              :
            </div>
            <div class="col-5   p-3">
              <select class="input-field  form-select dark-input-bg" id="newstatus" name="newstatus" required>
                <option value="" disabled selected>Select newstatus</option>
                {% for option in newstatus_options %}
                <option value="{{ option }}" {% if option == form.instance.newstatus %} {% endif %}>{{ option }}</option>
                {% endfor %}
              </select>
            </div>
          </div>


          <div class="row">
            <div class="col-3 p-3 ml-2">
              <label for="transactioncode">Transactioncode</label>
            </div>
            <div class="col-1   p-3">
              :
            </div>
            <div class="col-5   p-3">
              <input  class="input-field  form-control dark-input-bg" type="text" id="transactioncode"
                value="{{ form.transactioncode.value|default:''}}" name="transactioncode" title="enter valid input">
            </div>
          </div>

          <div class="row">
            <div class="col-3 p-3 ml-2">
              <label for="date" class="col-1 col-form-label">aReceivedDate</label>
            </div>
            <div class="col-1   p-3">
              :
            </div>
            <div class="col-5   p-3">
              <input type="text" class="input-field  form-control dark-input-bg dateclass" id="date"
                value="{{ form.areceiveddate.value|default:''}}" name="areceiveddate" readonly>
            </div>
          </div>


          <div class="row">
            <div class="col-3 p-3 ml-2">
              <label for="date" class="col-1 col-form-label">2ndReceivedDate</label>
            </div>
            <div class="col-1   p-3">
              :
            </div>
            <div class="col-5   p-3">
              <input class="input-field  form-control dateclass dark-input-bg" type="text" id="date"
                value="{{ form.a2ndpaymentReceiveddate.value|default:''}}" name="a2ndpaymentReceiveddate" readonly>
            </div>
          </div>


          <div class="row">
            <div class="col-3 p-3 ml-2">
              <label for="receivedamount">Receivedamount</label>
            </div>
            <div class="col-1   p-3">
              :
            </div>
            <div class="col-5   p-3">
              <input class="input-field  form-control dark-input-bg" type="text" id="receivedamount"
                value="{{ form.receivedamount.value|default:''}}" name="receivedamount"
                pattern="^-?\d+(\.\d{1,4})?$" title="enter valid input" oninput="validateInput(this)">
            </div>
          </div>

          <div class="row">
            <div class="col-3 p-3 ml-2">
              <label for="receivedamountCurrency">Received Amount Currency</label>
            </div>
            <div class="col-1   p-3">
              :
            </div>
            <div class="col-5   p-3">

              <select  class="input-field  form-select dark-input-bg" id="receivedamountCurrency"
                name="receivedamountCurrency">
                <option value="" selected>Select Received Amount Currency</option>
                <option value="USD" {% if form.receivedamountCurrency.value == 'USD' %} {% endif %}>USD</option>
                <option value="INR" {% if form.receivedamountCurrency.value == 'INR' %} {% endif %}>INR</option>
                <option value="SGD" {% if form.receivedamountCurrency.value == 'SGD' %} {% endif %}>SGD</option>
              </select>
            </div>
          </div>


          <div class="row">
            <div class="col-3 p-3 ml-2">
              <label for="dc">Discount Currency</label>
            </div>
            <div class="col-1   p-3">
              :
            </div>
            <div class="col-5   p-3">
              <input class="input-field  form-control dark-input-bg" type="text" id="dc" value="{{ form.dc.value|default:''}}"
                name="dc" pattern="^-?\d+(\.\d{1,4})?$" title="enter valid input"
                oninput="validateInput(this)">

            </div>
          </div>


          <div class="row">
            <div class="col-3 p-3 ml-2">
              <label for="discountcurrency">Discountcurrency</label>
            </div>
            <div class="col-1   p-3">
              :
            </div>
            <div class="col-5   p-3">

              <select class="input-field  form-select dark-input-bg" id="discountcurrency" name="discountcurrency">
                <option value="" disabled selected>Select discountcurrency</option>
                <option value="USD" {% if form.discountcurrency.value == 'USD' %} {% endif %}>USD</option>
                <option value="INR" {% if form.discountcurrency.value == 'INR' %} {% endif %}>INR</option>
                <option value="SGD" {% if form.discountcurrency.value == 'SGD' %} {% endif %}>SGD</option>
              </select>

            </div>
          </div>


          <div class="row">
            <div class="col-3 p-3 ml-2">
              <label for="Invcurrency">InvoiceCurrency</label>
            </div>
            <div class="col-1   p-3">
              :
            </div>
            <div class="col-5   p-3">
              <select required class="input-field  form-select dark-input-bg" id="Invcurrency" name="Invcurrency" required>
                <option value="" disabled selected>Select Invcurrency</option>
                <option value="USD" {% if form.Invcurrency.value == 'USD' %} {% endif %}>USD</option>
                <option value="INR" {% if form.Invcurrency.value == 'INR' %} {% endif %}>INR</option>
                <option value="SGD" {% if form.Invcurrency.value == 'SGD' %} {% endif %}>SGD</option>
              </select>

            </div>
          </div>

          <div class="row">
            <div class="col-3 p-3 ml-2">
              <label for="outstandingBalance">OutstandingBalance</label>
            </div>
            <div class="col-1   p-3">
              :
            </div>
            <div class="col-5   p-3">
              <input required class="input-field  form-control dark-input-bg" type="number" id="outstandingBalance"
                value="{{ form.outstandingBalance.value|default:''}}" name="outstandingBalance"
                title="enter valid input" oninput="validateInput(this)">
            </div>
          </div>


          <div class="row">
            <div class="col-3 p-3 ml-2">
              <label for="supt">Supt</label>
            </div>
            <div class="col-1   p-3">
              :
            </div>
            <div class="col-5   p-3">
              <input class="input-field  form-control dark-input-bg" type="text" id="supt" value="{{ form.supt.value|default:''}}"
                name="supt" pattern="^-?\d+(\.\d{1,4})?$" title="enter valid input"
                oninput="validateInput(this)">
            </div>
          </div>

          <div class="row">
            <div class="col-3 p-3 ml-2">
              <label for="CurrencyRate">CurrencyRate</label>
            </div>
            <div class="col-1   p-3">
              :
            </div>
            <div class="col-5   p-3">
              <input class="input-field  form-control dark-input-bg" type="text" id="CurrencyRate" value="{{ form.CurrencyRate.value|default:''}}"
                name="CurrencyRate" pattern="^-?\d+(\.\d{1,4})?$" title="enter valid input"                                            
                oninput="validateInput(this)">                                                                                       
            </div>
          </div>   
          

          <div class="row">
            <div class="col-3 p-3 ml-2">
              <label for="Dispute">Dispute</label>
            </div>
            <div class="col-1   p-3">
              :
            </div>
            <div class="col-5   p-3">
              <select required class="input-field  form-select dark-input-bg"  id="Dispute" name="Dispute">
                <option value=""  selected>Select Dispute</option>
                <option value="Yes" {% if form.Dispute.value == 'Yes' %} selected {% endif %}>Yes</option>
                <option value="No" {% if form.Dispute.value == 'No' %} selected {% endif %}>No</option>
                <option value="Old" {% if form.Dispute.value == 'Old' %} selected {% endif %}>Old</option>
              </select>
            </div>
          </div>


          <div class="row">
            <div class="col-3 p-3 ml-2">
              <label for="DisputeReason">Dispute Reason</label>
            </div>
            <div class="col-1   p-3">
              :
            </div>
            <div class="col-5   p-3">
            <input style="height: 80px;" class="input-field  form-control dark-input-bg" type="text" id="DisputeReason" value="{{ form.DisputeReason.value|default:''}}"
                name="DisputeReason" title="enter valid input" >
            </div>
          </div>


        </div>
      </div>

      <input class="btn btn-primary aa" type="submit" value="AddDetails">
  </form>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script>
    $(document).ready(function () {
      flatpickr(".dateclass", {
        dateFormat: "d-M-Y",
      });
    });
    $(document).ready(function () {
      $('#addform').submit(function (event) {
        event.preventDefault();
        var formData = new FormData(this);

        $.ajax({
          url: $(this).attr('action'),
          type: $(this).attr('method'),
          data: formData,
          processData: false,
          contentType: false,
          success: function (response) {
            window.history.back();
          },
          error: function (xhr, status, error) {
            console.log(error);
          }
        });
      });
    });


    
    

    function updateReceivedDate() {
      var day = document.getElementById("day").value;
      var month = document.getElementById("month").value;
      var year = document.getElementById("year").value;

      if (day !== "" && month !== "" && year !== "") {
        var receivedDate = day + "-" + month + "-" + year;
        document.getElementById("areceiveddate").value = receivedDate;
      }
    }
    function back() {
      window.history.back();
    }

    function validateInput(element) {

      if (element.id)
        var regex = new RegExp(element.pattern);
      if (!regex.test(element.value)) {
        element.setCustomValidity(element.title);
      } else {
        element.setCustomValidity('');
      }
    }
  </script>
</body>

</html>